<p>
  <br>
  <div class="container">
<% @blogs.each do |blog| %>
  <h2><%= blog.title %></h2>
  <small><%= blog.fecha.strftime("%d/%m/%Y") %>  -  By: <%= blog.user.username %></small>
  <div class="row-fluid">
    <article class="col-md-9 offset-2">
      <%=  image_tag  blog.foto.url().to_s, class: "img-responsive foto-noticia" %>
      <p>
        <div class="cont-noticia">
          <%= raw blog.noticia %>
        </div>
      </p>
    </article>
  </div>
</p>
</div>
<% end %>
  <div class="container">
    <div class="row pull-right">
      <div class="col-md-12">
         <%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
