<% @blogs.each do |blog| %>
  <h2><%= blog.title %></h2>
  <small><%= blog.fecha.strftime("%d/%m/%Y") %>  -  By: <%= blog.user.username %></small>
  <div class="row">
    <div class="col-md-9 offset-2">
      <%=  image_tag  blog.foto.url().to_s, class: "foto-noticia img-responsive" %>
      <p>
        <div>
          <%= raw blog.noticia %>
        </div>
      </p>
    </div>
  </div>
<% end %>
