<%= render "home/dashboard"%>
<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Listado General de Noticia</h1>
  <div class="row pull-right">
    <div class="col-md-12">
      <a href="<%=  new_blog_path%>", class="btn btn-info">(+) Nueva NOTICIA </a>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Título</th>
        <th>Fecha</th>
        <th>Noticia</th>
        <th>Categoría</th>
        <th>Opciones</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.fecha.strftime("%m/%d/%Y") %> <br> <small>by: <%= blog.user.username %></small></td>
          <td><%= raw blog.noticia %></td>
          <td><%= blog.category.title %></td>
          <td>
             <%= link_to 'Ver', blog , class:"btn btn-info"%>
             <%= link_to 'Editar', edit_blog_path(blog), class:"btn btn-warning" %>
             <%= link_to 'Eliminar', blog, method: :delete, data: { confirm: '¿Está Seguro?' }, class:"btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row pull-right">
  <div class="col-md-12">
    <%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
  </div>
</div>
</div>


