<%= render "home/dashboard"%>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well fondo-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true }) do |f| %>
       
         <h2>Edición de Usuarios</h2>
        
        <div class="form-group">
          <%= f.label "Username / Nombre " %><br />
          <%= f.text_field :username, autofocus: true, class:"form-control" %>
        </div>
        
        <div class="form-group">
        <% if current_user.image.url.present? %>
          <%= image_tag(current_user.image.url, class:"foto-user")  %>
          <%= f.label :remove_image do %>
          <%= f.check_box :remove_image , class:"form-control" %>
          <% end %>
          <% end %>
        <%= f.file_field :image , class:"form-control"  %>
        <%= f.hidden_field :image_cache %>
        </div>
        
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"form-control" %>
        </div>
        
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <div class="field">
          <%= f.label :password %> <i>(Dejar en blanco si no desea cambiarlo)</i><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>
  
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
        </div>
  
        <div class="field">
          <%= f.label "Password Actual" %> <i>(necesitamos su contraseña actual para confirmar los cambios)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
        <p>
          <div class="actions pull-right">
            <%= f.submit "Actualizar Registro", class:"btn btn-primary" %>
          </div>
          </p>
      <% end %>
      <br><br>
        <div class="well fondo-form borde-well">
          <h3>Dar de Baja mi cuenta!</h3>
            <p>Lo lamentariamos mucho!! 
          <div class="row pull-right">
            <div class="col-md-12">
              <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class:"btn  btn-warning" %></p>
            </div>
          </div>
        </div>
        <%= link_to "<< Volver ", :back , class:"btn btn-info "%>
      </div>
    </div>
  </div>
  </div>
