<%= render "home/dashboard" %>

<p id="notice"><%= notice %></p>

<h1>Listado de Requerimientos / Incidencias</h1>
<div class="row pull-right">
  <div class="col-md-12">
    <%= link_to '(+) Nuevo Registro', new_request_path, class: "btn btn-info" %>    
  </div>
</div>

<div class="container">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Negocio</th>
      <th>Usuario</th>
      <th>Descripción</th>
      <th>Fecha Reporte</th>
      <th>Apoyo Imágen</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.title %></td>
        <td><%= request.area.title %></td>
        <td><%= request.usuario %></td>
        <td><%= request.description %></td>
        <td><%= request.date_request %></td>
        <td><%= image_tag("rojo-perfil.png", class:"perfil-rojo img-responsive") %></td>
        <td>
          <%= link_to 'Ver', request, class: "btn btn-primary" %>
          <%= link_to 'Editar', edit_request_path(request), class: "btn btn-warning" %>
          <%= link_to 'Eliminar', request, method: :delete, data: { confirm: '¿Está seguro?' }, class:"btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


