
<table class="table table-striped table-hover">
  <thead style="background-color:#158cba; color: white">
    <tr>
      <th>Negocio</th>
      <th>Evento</th>
      <th>Beneficios</th>
      <th>Reportado</th>
    </tr>
  </thead>
  <tbody>
    <% @deeds.each do |deed| %>
    <% unless  deed.id.nil? %>
    <tr>
    <td><%= deed.area.title %></td>
    <td class="page-header"><b class="azul-title"><%= deed.title_evento %></b><br><ul> <small> <%= deed.description_evento %> </ul></small></td>
    <td><i class="fa fa-check"></i>  <%= deed.benefit %>
   
    </td>
    <td><%= deed.date_deed.strftime("%d/%m/%Y") %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>

</table>
  <div class="container">
    <div class="row pull-right">
      <div class="col-md-12">
         <%= will_paginate @deeds, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>