<%= render "layouts/menu_sin_login"%>
<%= render "home/dashboard"%>
<div class="container top-body">
  <h1>Editar Categoría</h1>
  <div class="row pull-right">
    <div class="col-md-12">
      <%= link_to 'Ver', @category, class:"btn btn-info" %> |
      <%= link_to '<< Volver', categories_path, class:"btn btn-primary" %>
    </div>
  </div>
  <%= render 'form' %>  
</div>




