<%= render "layouts/menu_sin_login"%>
<%= render "home/dashboard"%>
<div class="container">
  <div class="row"><h2>Listado de Categorias</h2>
    <div class="col-md-6 col-md-offset-3">
      <div class="well fondo-form">
         <% if notice %>
         <p class="notice"><%= notice %></p>
        <% elsif alert %>  
         <p class="alert"><%= alert %></p>
        <% end %>  
        
        <p>
          <strong>Titulo:</strong>
          <%= @category.title %>
        </p>

        <p>
          <strong>Descripción:</strong>
          <%= @category.description %>
        </p>
        
        <%= link_to 'Editar', edit_category_path(@category), class:"btn btn-warning" %> |
        <%= link_to '<< Volver', categories_path, class:"btn btn-info" %>
      </div>
    </div>
  </div>
</div>





