<%= render "home/dashboard"%>
<div class="container">
  <p id="notice"><%= notice %></p>
    <h1>Lista de Hitos</h1>
    <div class="row pull-right">
      <div class="col-md-12">
          <a href="<%= new_hito_path %>" class="btn btn-info">(+) Nuevo HITO </a>
      </div>
    </div>
    
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Título</th>
          <th>Área Negocio</th>
          <th>Fecha Desde</th>
          <th>Fecha Hasta</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @hitos.each do |hito| %>
          <tr>
            <td><%= hito.title %></td>
            <td><%= hito.area.title %></td>
            <td><%= hito.date_from.strftime("%m/%d/%Y") %></td>
            <td><%= hito.date_end.strftime("%m/%d/%Y") %></td>
            <td>
              <a href="<%= hito %>" class="btn btn-info"> Ver</a>  
              <a href="<%= edit_hito_path(hito) %>" class="btn btn-warning"> Editar</a>
              <%= link_to ' Eliminar', hito, method: :delete, data: { confirm: 'Está seguro que quiere ELIMINAR el registro?' }, class: "btn btn-danger" %>
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div>
  <div class="container">
    <div class="row pull-right">
      <div class="col-md-12">
         <% # = will_paginate @hitos, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
 
</div>