<footer id="pie">
  <div class="auxi">
    <ul class="nav nav-justified">
      <li class="active"><a href="<%= welcome_home_path %>">Home</a></li>
      <li><a href="<%= welcome_hitos_path %>">Hitos</a></li>
      <li><a href="<%= welcome_proyectos_path %>">Proyectos</a></li>
      <li><a href="<%= new_request_path %>">Contingencia</a></li>
      <li><a href="<%= welcome_noticias_path %>">Noticias</a></li>
      <li><a href="<%= welcome_equipo_path %>">Equipo</a></li>
    </ul>
    <div class="logo-footer">
      <%= image_tag("logo-fabrica-white.png")%>
    </div>
    <div class="footer2">
      <ul>
        <p>
          © Banco BCI 2016. Todos los derechos reservados. Mesa ayuda anexos: 36274  -  4739
        </p>
      </ul>
    </div>
  </div>
</footer>