  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="topnavbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="padding-top: 5px;" href="#"><%= image_tag("logo-h-white.png", width: "100px") %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="active"><a href="#"><i class="fa fa-flag-o"></i> Home</a></li>
          <li><a href="<%= deeds_path %>"><i class="fa fa-cogs"></i> Hitos</a></li>
          <li><a href="#" ><i class="fa fa-book"></i> Proyectos</a></li>
          <li><a href="<%= requests_path %>"><i class="fa fa-bullhorn"></i> Contingencia</a></li>
          <li><a href="<%= notes_path %>"><i class="fa fa-road"></i> Noticias</a></li>
          <li><a href="<%= profile_teams_path %>"><i class="fa fa-steam-square"></i> Equipo</a></li>
          <li><a href="<%= areas_path %>#"><i class="fa fa-bug"></i> Areas</a></li>
        <% else %>
          <li class="active"><a href="<%= welcome_home_path %>">Home</a></li>
          <li><a href="<%= welcome_hitos_path %>">Hitos</a></li>
          <li><a href="<%= welcome_proyectos_path %>">Proyectos</a></li>
          <li><a href="<%= new_request_path %>">Contingencia</a></li>
          <li><a href="<%= welcome_noticias_path %>">Noticias</a></li>
          <li><a href="<%= welcome_equipo_path %>">Equipo</a></li>
        <% end %>
      </ul>
          <ul class="nav navbar-nav navbar-right">
           <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">
                <%= image_tag(current_user.image.url, class:"foto-user-head") %></a>
              <ul class="dropdown-menu color2">
                <li><%= image_tag(current_user.image.url, class:"foto-user-small") %></li>
                <li><a>Usuario: <b><%= current_user.username %></b></a></li>
                <li><a>Email: <i class="fa fa-envelope-o" aria-hidden="true"></i><%= current_user.email %></a></li>
                <li><a href="#">Gestiones</a></li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to "Terminar Sesion", destroy_user_session_path, method:"delete" %>
                </li>
              </ul>
            </li>
            <% else %>
            <li>
              <%= link_to "Administrar",new_user_session_path, target: "_blank" %>
            </li>
          <% end %>
          </ul>
    </div><!--/.nav-collapse -->
  </div>
    </nav>