<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fabrica Calypso</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<!-- theme bootstrap -->
<link rel="stylesheet" type="text/css" href="/assets/lumen_theme.css">
 <link rel="stylesheet" type="text/css" href="/assets/clase.css">
 <link rel="stylesheet" type="text/css" href="/assets/carousel.css">
 <link rel="stylesheet" type="text/css" href="/assets/ie10-viewport-bug-workaround.css">
 <link rel="stylesheet" type="text/css" href="/assets/animate.css">
 <link rel="stylesheet" type="text/css" href="/assets/errors_devise.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/assets/holder.min.js"></script>
  <script src="/assets/ie-emulation-modes-warning.js"></script>
  <script src="/assets/ie10-viewport-bug-workaround.js"></script>
  <script src="/assets/mensajes.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="notice_wrapper">
    <% if notice %>
       <p class="notice"><%= notice %></p>
    <% elsif alert %>  
       <p class="alert"><%= alert %></p>
    <% end %>   
  </div>
    <% if user_signed_in? %>
      <%= render "layouts/menu_sin_login" %>
    <% else %>
      <%= render "layouts/menu_login" %>
    <% end %>
<div class="row">
  <%= yield %>  
</div>
<%= render "layouts/footer" %>


</body>
</html>
